<!DOCTYPE html>
<html lang="en" ng-app="mysampleApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/angular.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
    <div ng-controller="mycontroller">

        <input type="text" ng-model="id"></br>
        <button ng-click="doSearch()">Search </button></br>
       Emp id = {{id}}</br>
       Emp name = {{name}}</br>
       Emp address = {{address}}</br>
       Emp phno = {{phno}}</br>
    </div>
</body>
</html>